{% extends "main.html" %}
{% block title %}Compare Routing{% endblock %}
{% include "commons/navbar.html" %}
{% block content %}

<style>
    #progress{
     width:300px;
     height:20px;
     border:1px solid rgba(0,0,0,0.5);
    }
    #bar{
     width:0%;
     height:20px;
     background-color:green;
     -webkit-transition:width 700ms ease;   
    }

</style>

<div class="container theme-showcase" role="main" id="compare">

    <div class="page-header">
        <h2>CompareRoute</h2>
        <p class="lead">Enter data for routing:</p>
        <hr />
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12 text-right">
                <a href="https://docs.google.com/spreadsheets/d/11LhunrfPyc5x5jI-X9wQvXbIRE9bvyux_CZP9mCGt-o/edit?usp=sharing" target="_blank">
                   <span class="label label-default"><i class="fa fa-download" aria-hidden="true"></i> Download Template</span>
                </a>
            </div>
        </div>
        <div id="sourceWrap">
            <label class="control-label" for="postal_sequence">Enter Your Location Details (Postal Sequence) </label>
            <div id="deleteMe" class="tableize" style="height: 217px;">
                    <table class="tableize" id="table_deleteMe">
                        <tr>
                            <th width="30%">Postal Code Example</th>
                            <th>Order ID</th>
                            <th>Volume </th>
                            <th>Company </th>
                        </tr>
                        <tr>
                            <td>369974</td>
                            <td>Order01</td>
                            <td>3</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>760450</td>
                            <td>Order02</td>
                            <td>3</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>596740</td>
                            <td>Order03</td>
                            <td>3</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>098585</td>
                            <td>Order04</td>
                            <td>4</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>049909</td>
                            <td>Order05</td>
                            <td>5</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>560405</td>
                            <td>Order06</td>
                            <td>6</td>
                            <td>company_A</td>
                        </tr>
                        <tr>
                            <td>237983</td>
                            <td>Order08</td>
                            <td>3</td>
                            <td>company_A</td>
                        </tr>
                    </table>
                    <em class="tableize">Click to paste or Drop your file here</em>
                </div> <!--end of tableize -->
                <textarea class="form-control" id="postal_sequence" name="postal_sequence" rows="10" cols="120" title="click to copy/paste" spellcheck="false"  style="display: none;"></textarea>

        </div><!--/sourceWrap -->
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div class="radio">
                    <label class="radio-inline" style="margin-right:10px">
                        <input type="radio" name="optionsRadios" id="optionsTruck" value="by_truck" checked>
                            <i class="fa fa-truck" aria-hidden="true"></i> Route by No. of Truck
                    </label>
                    <label class="radio-inline" style="margin-right:10px">
                        <input type="radio" name="optionsRadios" id="priority_capacity" value="by_capacity">
                            <i class="fa fa-cubes" aria-hidden="true"></i> Route by Truck Capacity
                    </label>
                    <label class="radio-inline" style="margin-right:10px">
                        <input type="radio" name="optionsRadios" id="sort_company" value="by_companies">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i> Route by Companies
                    </label>
                    <button type="button" class="btn btn-link sort_company refreshBtn" id="refresh_btn" title="Refresh Button" style="margin-bottom:0px; padding:0;">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Reload the Route By Companies</button>
                </div>

            </div>

            <div class="cr_truck box">

                <div class="row">
                    <div class="col-xs-3 down_15">
                        <label class="control-label font_11" for="starting_postal">Enter Starting Postal Code * </label>
                        <input type="text" class="form-control input" id="starting_postal" name="starting_postal" placeholder="e.g. 461051" aria-describedby="helpBlock" value="461051">
                    </div>
                    <div class="col-xs-2">
                         <div class="form-group">
                             <label class="control-label font_11" for="vehicle_quantity">Enter Truck No * </label>
                             <select class="form-control input" id="vehicle_quantity" name="vehicle_quantity">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                                  <option>13</option>
                                  <option>14</option>
                                  <option>15</option>
                                  <!--<option>16</option>-->
                                  <!--<option>17</option>-->
                            </select>
                        </div>
                    </div>
                </div>
            </div>    <!-- end of cr_truck -->

            <div class="cr_capacity box">

                 <!-- New Fields for Route By Capacity -->
                <div class="row">
                    <div class="col-xs-2 down_15">
                        <label class="control-label font_11" for="starting_postal_cap"> Enter Starting Postal Code * </label>
                        <input type="text" class="form-control input" id="starting_postal_cap" name="starting_postal_cap" placeholder="e.g. 570282" aria-describedby="helpBlock" value="461051">
                    </div>
                </div>
                <div id="main_form">

                    <div class="row">
                        <div class="col-xs-2 down_15">
                            <label class="control-label font_11" for="type_of_truck"> Enter Types of Truck</label>
                             <input type="text" class="form-control input" id="type_of_truck" name="type_of_truck" placeholder="e.g. M3 Truck" value="Big Truck">
                        </div>
                        <div class="col-xs-2 down_15">
                            <label class="control-label font_11" for="truck_capacity"> Enter Max Truck Capacity * </label>
                            <input type="number" class="form-control input" id="truck_capacity" name="truck_capacity" placeholder="e.g. 10" value="3">
                        </div>
                        <div class="col-xs-2 down_15">
                            <label class="control-label font_11" for="num_of_truck"> No. of Truck </label>
                            <input type="number" class="form-control input" id="num_of_truck" name="num_of_truck" placeholder="e.g. 5" value="2">
                        </div>
                    </div>
                    <!-- Dynamic Form Start Here-->

                    <div class="row" id="items"></div>

                    <!-- Dynamic Form Button Here-->
                    <div class="row">
                       <button type="button" class="btn btn-link" id="addBtn">+ Add New Truck <span id="counter_fields"></span></button>
                    </div>
                </div>

            </div> <!-- end of cr_capacity -->

            <div class="cr_companies box">
                <!-- Currently 4 companies can Route -->

                <div class="row">
                    <div class="col-xs-12" id="vehicle_qty_div_info">

                        <div class="alert alert-info alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i> </button>
                          <strong>Note!</strong><br />
                            Route by Companies, Considering Route by Truck Capacity - An option similar to Route by Capacity <br />

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-1">
                        <div class="vehicle_label" id="num_company">
                             <!--<label class="control-label font_11" for="vehicle_quantity"></label>-->
                             <input class="form-control input" id="num_comp_val" name="num_comp_val" type="number" min="1" style="pointer-events: none; border-color:#eee"  value="">
                        </div>
                    </div>
                    <div class="col-xs-3" style="padding-top:10px">
                           <span> No. of Companies Entry (Max 6)</span>  <!--<i class="fa fa-list-ol" aria-hidden="true"></i>-->
                    </div>
                    <div class="col-xs-4">

                        <div class="checkbox" style="padding-top: 5px;">
                             <label class="right_10">
                                <input type="checkbox" name="checkbox" id="priority_capacity_comp" value="priority_capacity2">Route by Companies, Considering Route by Truck Capacity
                             </label>
                        </div>
                    </div>
                </div>
                <br /> <!-- Separation-->

                <div class="row">
                    <!-- Generating Fields -->
                    <div id="fields_company"></div>
                </div>
                <div id="fields_company_add"></div>
                <div class="row">

                </div> <!-- End of Row-->
            </div><!-- end of cr_companies -->
        </div>
        <!--  Check Box for Return Truck -->
        <div class="row">
            <div class="col-xs-3">
                <div class="checkbox">
                    <label class="right_10">
                        <input type="checkbox" name="checkbox" id="return_startpoint" value="return_startpoint" checked="checked">Return Truck to Starting Postal Code
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="ajax_errors" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i> </button>
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  <strong>Whoops!</strong></p>
                    <span>Something went wrong!</span>
                </div>
            </div>
            <div class="col-lg-12">
                <hr />
                <button type="button" class="btn btn-lg btn-success" id="routeBtn" role="button" >
                    <i id="routeBtn-button-icon" class="fa fa-map-marker"></i> <span id="routeBtn-button-message">Generate Route</span>
                </button>
            </div>
        </div>

      <a name="id3"/></a>
    </div> <!-- end of Jumbobtron -->
    <!--  Progress Bar -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="progressbar"></div>
        </div>
    </div>

    <div class="collapse-1" id="collapseExample">
        <div class="well">
            <!-- Sorted Box -->
            <div class="row">
                <div class="col-lg-12">
                    <div id="sorted_sequence0"></div> <!-- Successful-->
                </div>
            </div>

                <!--<ul id="sorted_sequence0_ul" class='list-group move-left' style='list-style-type:none; font-size:16px;'></ul>-->
                <!--<ul id="sorted_sequence0_ul_02" class='list-group move-left' style='list-style-type:none; font-size:16px;'></ul>-->

            <div class="row">
                <div class="col-lg-6">
                    <div id="sorted_sequence"></div><!-- Proposed_table -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="sorted_sequence1"></div> <!-- Details-->
                </div>

            </div>
            <!--&lt;!&ndash;  Company Visualization &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--&lt;!&ndash; The have 4 || Company | Postal Code | Order Ids | Capacity ||  column &ndash;&gt;-->
                    <!--<table id="proposedTable_company" class="tableL"></table>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-12">
                    <div id="loading_map" style="display: block; "></div>
                    <div id="visualization"><!-- Elements inside here will be created by JavaScript --></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hidden_field_legend">
                    <div class="main_box_mlegend">
                        <ul class="list-inline up_20" id="map_legend"></ul>
                        <div id="floating-panel" class="text-right">
                            <input id="addLines" type=button value="Remove line" class="btn btn-success btn-xs">
                            <input id="backagain" type=button value="Restore line" class="btn btn-success btn-xs ">
                        </div>
                    </div>

                </div>
            </div>
            <!--  Company Visualization -->
            <div class="row">
                <div class="col-lg-12">
                        <!--<br/>-->
                        <div class="row" style="display:none;" id="visualization_tab_comp"></div>
                </div>
            </div>
            <!--  Single Visualization -->
            <div class="row">
                 <div class="col-lg-12">
                    <div id="visualization_table" style="display:none;">
                        <table id="summaryTable" class="summary_Table" >
                            <br />
                            <b>Total Summary Savings</b>
                            <tr>
                                <th>Current Total Distance</th>
                                <th>Proposed Total Distance </th>
                                <th>Total Savings</th>
                            </tr>
                            <tr>
                                <td id="currentTotalDist">00</td>
                                <td id="proposedTotalDist">00</td>
                                <td id="totalSavings">00</td>
                                <!--<input type="hidden" id ="hdnTotalCurrent" name = "hdnTotalCurrent">-->
                            </tr>
                        </table>
                    </div> <!-- // visualization_table -->
                 </div>
            </div>
        </div><!-- well -->
    </div>
</div><!-- container theme-showcase -->

<a href="#" class="scrollToTop">
    <i class="fa fa-caret-square-o-up" aria-hidden="true"></i>
    <!--Scroll To Top-->
</a>


<script src="/js/jquery.progresstimer.js"></script>
<script src="/js/excel_dl/jquery.btechco.excelexport.js"></script>
<script src="/js/excel_dl/jquery.base64.js"></script>

{% endblock %}